/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/photography/[photoGroup]/PhotoGroup.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.PhotoGroup_container__LdBaP {
  padding: calc(60px + 3.6rem) 0 3.6rem;
  min-height: 100svh;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.PhotoGroup_header__ljQgt {
  width: 100%;
  font-size: var(--text-2xl);
  font-weight: bolder;
  margin: 3rem;
}
.PhotoGroup_content__NgV_0 {
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  columns: 3;
  column-gap: 15px;
}
.PhotoGroup_box__xm9tF {
  width: 100%;
  margin-bottom: 15px;
  page-break-inside: avoid;
  break-inside: avoid;
}
.PhotoGroup_box__xm9tF img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .PhotoGroup_header__ljQgt {
    font-size: var(--text-xl);
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .PhotoGroup_content__NgV_0 {
    columns: 1;
    column-gap: 10px;
  }
  .PhotoGroup_box__xm9tF {
    margin-bottom: 10px;
  }
  .PhotoGroup_header__ljQgt {
    font-size: var(--text-lg);
  }
}

