/*!***********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/photography/components/PhotoLanding/PhotoLanding.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************/
.PhotoLanding_container__zLUFK {
  padding: calc(60px + 3.6rem) 0 3.6rem;
  min-height: 100svh;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.PhotoLanding_header__KbZkl {
  width: 100%;
  font-size: var(--text-2xl);
  font-weight: bolder;
  margin: 3rem;
}
.PhotoLanding_content___v6Q_ {
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  columns: 2;
  column-gap: 10px;
}
.PhotoLanding_box__QB_im {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;
  page-break-inside: avoid;
  break-inside: avoid;
}
.PhotoLanding_box__QB_im img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
  transition: all 0.5s var(--ease);
}
.PhotoLanding_after__rctyz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-lg);
  font-weight: bolder;
  color: var(--text);
  opacity: 1;
  transition: all 0.5s var(--ease);
}
.PhotoLanding_box__QB_im:hover img {
  scale: 1.02;
  filter: brightness(100%);
}
.PhotoLanding_box__QB_im:hover .PhotoLanding_after__rctyz {
  opacity: 0;
}

@media (max-width: 768px) {
  .PhotoLanding_header__KbZkl {
    font-size: var(--text-xl);
    margin-bottom: 1rem;
  }
  .PhotoLanding_after__rctyz {
    font-size: var(--text-md);
  }
}
@media (max-width: 425px) {
  .PhotoLanding_container__zLUFK {
    gap: 2rem;
  }
  .PhotoLanding_after__rctyz {
    font-size: var(--text-sm);
  }
  .PhotoLanding_header__KbZkl {
    font-size: var(--text-lg);
  }
  .PhotoLanding_content___v6Q_ {
    columns: 1;
  }
}
@media (max-width: 375px) {
  .PhotoLanding_after__rctyz {
    font-size: var(--text-sm);
  }
}

