/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/poems/poetry.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
/* poetry.module.css */

.poetry_main__i4lyU {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10rem;
  font-family: var(--font-tangerine);
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  color: white;
}

.poetry_title__j7gFJ {
  font-size: 40px;
  margin-bottom: 0.5rem;
  padding-top: 10vh;
}

.poetry_poemContainer__DvWfF {
  display: flex;
  flex-direction: row;
  width: 90vw;
  font-size: 40px;
}

.poetry_left__pXF7R,
.poetry_right__RkWWR {
  flex: 1 1;
  padding: 3rem;
}

.poetry_left__pXF7R p,
.poetry_right__RkWWR p {
  margin: 0.5rem 0;
}

.poetry_center__hpJC4 {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-top: 4rem;
}

.poetry_center__hpJC4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .poetry_poemContainer__DvWfF {
    flex-direction: column;
  }

  .poetry_left__pXF7R,
  .poetry_right__RkWWR {
    flex: 1 1;
  }
  .poetry_left__pXF7R {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .poetry_right__RkWWR {
    padding-top: 0;
    margin-top: 0;
  }

  .poetry_center__hpJC4 {
    margin: 0 1rem;
  }
  .poetry_main__i4lyU {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .poetry_main__i4lyU {
    font-size: 24px;
  }
  .poetry_center__hpJC4 {
    width: 600px;
  }
  .poetry_center__hpJC4 {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 1rem auto;
  }
}

